.logoContainer {
  width:600px;
  display:flex;
}


.logoContainer .logoVanIcon img {
  height:100px;
}


@media (max-width: 700px) {
  .logoContainer {
    width:500px;
  }

  .logoContainer .logoVanIcon img {
    height:80px;
  }
}

@media (max-width: 600px) {
  .logoContainer {
    width:400px;
  }

  .logoContainer .logoVanIcon img {
    height:60px;
  }
}

@media (max-width: 500px) {
  .logoContainer {
    width:300px;
  }

  .logoContainer .logoVanIcon img {
    height:40px;
  }
}
