.headerContainer {
  width:100%;
  height:200px;
  display:flex;
  flex-direction:column;
  background-color: #31525B;
}

.headerContainer .headerBanner {
  display:flex;
  flex:1;
}

.headerContainer .headerBanner .logo {
  font-size:1.4em;
  height:100px;
  margin-top:20px;
  margin-left:80px;
  color:#FAE8B1;
}

.headerContainer .headerBanner .headerContact {
  display:flex;
  flex-direction:column;
  text-align: left;
  margin-left:20%;
  color:#FAE8B1;
  font-family:Rubik;
  text-transform: uppercase;
  font-size:1.5em;
  transform:translateY(40%);
  z-index:10;
}

.headerContainer .headerBanner div {
  width:50%;
}

.headerContainer .navigationContainer {
  display:flex;
  justify-content: space-around;
}

.headerContainer .navigationContainer a {
  display:flex;
  flex:1;
  justify-content:space-around;
  text-align:center;
}

.headerContainer .navigationContainer a:hover {
  font-size:1.3em;
}
