.container {
  width:80%;
  margin-left:10%;
  padding:20px 0px 20px 0px;
  display:flex;
}

.container .text {
  flex:3;
  font-size:1.4em;
  font-family:'Source Code Pro', monospace;
}

.container .image {
  flex:1;
}
