.footerContainer {
  width:100%;
  background-color: #FAE8B1;
}

.footerContainer .footerColumns {
  display:flex;
  justify-content: space-around;
  color: #31525B;
  padding-top:3vh;
  height:400px;
}

.footerContainer .footerColumns .textColumn {
  text-align: left;
  flex:1;
  width:80%;
  margin-left:10%;
}

.footerContainer .footerColumns .callback {
  flex:1;
  width:80%;
  margin-left:10%;
}

.footerContainer .footerColumns .callback .callbackRequest {
  display:flex;
  width:97%;
  flex-direction:column;
  background-color: #31525B;
  padding-top:3vh;
  padding-bottom:3vh;

}

.footerContainer .footerColumns .callback .callbackRequest h2 {
  margin-left:10%;
}

.footerContainer .footerColumns .callback .callbackRequest .input {
  margin:10px 0px 10px 0px;
  padding:5px;
  padding-left:20px;
  width:80%;
  margin-left:10%;
  font-size:1.5em;
  text-transform:uppercase;
  border:#fff;
}

.footerContainer .footerColumns .callback .callbackRequest .button {
  width:50%;
  font-size:1.2em;
  padding:5px;
  text-transform:uppercase;
  background-color:#fff;
  border:#fff;
  margin:10px 0 10px 10%;
}

.footerContainer .copyright {
  text-align:center;
  font-size: 1.3em;
  color:#fff;
  background-color: #31525B;
}
